<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Libro</title>
</head>
<body>
    <div id="editForm" style="display: none;">
        <form method="POST" action="{{ url_for('edit', id=data.id) }}">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
            
            <label for="imagen">Imagen:</label>
            <input type="text" name="imagen" id="imagen" required>
        
            <label for="url">URL:</label>
            <input type="text" name="url" id="url" required>
        
            <button type="submit">Actualizar Libro</button>
        </form>
    </div>    

    <script>
        function edit(id) {
            fetch(`/edit/${id}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('nombre').value = data.nombre;
                document.getElementById('imagen').value = data.imagen;
                document.getElementById('url').value = data.url;
    
                // Abre el formulario de edición
                document.getElementById('editForm').style.display = 'block';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
