<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Menú Bootstrap</title>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg" id="menu">
  <a class="navbar-brand" href="#">Mi Sitio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(actual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/libros">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articulos">Articulos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/peliculas">Peliculas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/juegos">Juegos</a>
      </li>
    </ul>
  </div>
</nav>
<a href="/addjuegos">
  <button class="boton"> Agregar Juego</button>
</a>
<header>
  
  <h1 class="ola">Lista de Juegos</h1>
  <ul class="tarjeta">
      {% for juego in juegos %}
          <li class="cartas"> {{ juego['nombre'] }} 
          <br> {{ juego['descripcion'] }} 
          <br> <img src="{{ juego['url'] }}" width="150" height="150" class="imagen"><br>
          <a href="/edit/">
            <button class="editar">Editar</button>
        </a>
      <a href="{{url_for('deleteJuego', id=juego['id_juego'])}}">
            <button class="eliminar">Eliminar</button>
        </a>
      {% endfor %}
  </ul>
</header>
<!-- Enlace al archivo JavaScript de Bootstrap (jQuery y Popper.js son necesarios) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
